.app {
    display: flex;
    flex-direction: column;

    .wrapper {
        padding-right: 16px;
        padding-left: 16px;

        .content {
            display: flex;
            flex: 1;
            flex-direction: column;
            padding-top: 20px;
            align-items: center;

            .content-item {
                width: 100%;
                display: flex;
                max-width: 700px;
            }

            mat-form-field {
                padding-right: 8px;
            }
        }
    }
}
